.task {
  width: 355px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskSpan {
  cursor: pointer;
}

button {
  height: 26px;
}

.taskCheckbox {
  transform: scale(1.5);
  margin-right: 15px;
}
