.addTaskFormDiv {
  margin: 10px 0;
  width: 100%;
}

.addTaskFormDiv form {
  display: flex;
  gap: 10px;
}

.addTaskFormDiv form > * {
  align-self: center;
}

.addTaskInput {
  height: 22px;
  width: 300px;
  font-size: 16px;
}

.editTaskInput {
  height: 22px;
  width: 268px;
  font-size: 16px;
}

.addTaskBtn {
  height: 26px;
}
